@font-face {
    font-family: mina;
    src: url(https://fonts.googleapis.com/css?family=Mina);
}

* {
    font-family: mina;
}

header {
    height: 2.7em;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67B6F9;
}


h1 {
    margin-left: 25px;
    font-size: 1.3em;
}

.cart-button {
    margin-right: 25px;
    height: 80%;
    aspect-ratio: 1/1;
    background-image: url("shopping-cart.svg");
    background-size: cover;
    border: none;
    background-color: transparent;
}

main {
    position: absolute;
    width: 100%;
    top: 2.7em;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-search {
    width: 95%;
    height: 3em;
    margin-top: 1.5em;
}

h2 {
    width: 95%;
    text-align: left;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.product-tile {
    width: 35%;
    aspect-ratio: 1/2;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.product-image {
    width: 90%;
    aspect-ratio: 2/3;
    object-fit: cover;
}